.playersScroll::-webkit-scrollbar{
    appearance: none;
    width: 10px;
    margin-top: 10px;
  }


.playersScroll::-webkit-scrollbar-thumb{
    height:3px;
    border-radius: 5px;
    background-color: #243257d5;
  }

  .messagesScroll::-webkit-scrollbar{
    appearance: none;
    width: 5px;
    margin-top: 10px;
  }


.messagesScroll::-webkit-scrollbar-thumb{
    height:3px;
    border-radius: 5px;
    background-color: #243257d5;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin 500ms linear;
  }